
.home{
    background: url("../images/background-purple.jpg");
    background-size: cover;
    height: 100vh;
}
.home .text-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.nav{
    height: 50px;
    background: rebeccapurple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav div{
    display: inline-block;
    position: absolute;
    left: 5;
    padding: 7px;
    font-size: 30px;
    color: antiquewhite;
}
.nav ul{
    position: absolute;
    right: 10px;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    color:antiquewhite;
    padding: 4px;
}
.about .about-content{
    margin: 150px auto 0 auto;
    width: 500px;
}
.about .about-content h1{
    text-align: center;
}
.about .about-content p{
    text-align: justify;
}