.home{
    background: url("../images/background-purple.jpg");
    background-size: cover;
    height: 100vh;
}
.nav{
    height: 50px;
    background: rebeccapurple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav div{
    display: inline-block;
    position: absolute;
    left: 5;
    padding: 7px;
    font-size: 30px;
    color: antiquewhite;
}
.nav ul{
    position: absolute;
    right: 10px;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    color:antiquewhite;
    padding: 4px;
}