.about .about-content{
    margin:150px auto 0 auto;
    width: 500px;
    color: #010101;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about .about-content h1{
    text-align: center;
    color: rebeccapurple;
}
.about .about-content p{
    text-align: justify;
    font-style: italic;
}
.contacts .contacts-content{
    margin: 150px auto 0 auto;
    width: 500px;
    color: #010101;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contacts .contacts-content h1{
    text-align: center;
    color: rebeccapurple;
}
.contacts .contacts-content ul{
    text-align: justify;
    list-style-type: none;
}
.home{
    background: url("../images/background-purple.jpg");
    background-size: cover;
    height: 100vh;
}
.home .text-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:azure;
    font-size: xx-large;
}
.home .text-container h2{
    font-style: italic;
    font-size: x-large;
}
.nav{
    height: 50px;
    background: rebeccapurple;
}
.nav div{
    display: inline-block;
    position: absolute;
    left: 5;
    padding: 10px;
    font-size: 30px;
    font-family: monospace;
}
.nav div a{
    color: azure;
    text-decoration: none;
}
.nav ul{
    position: absolute;
    right: 15px;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    color:antiquewhite;
    padding: 3px;
    text-decoration: none;
}
.skills .skills-content{
    margin: 150px auto 0 auto;
    width: 500px;
    color: #010101;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.skills .skills-content h1{
    text-align: center;
    color: rebeccapurple;
}
.skills .skills-content p{
    text-align: justify;
    font-style: italic;
}
